
.App {
  height: 100vh;
  width: 100vw;
}

.glow-on-hover {
    width: 220px;
    height: 80px;
    border: none;
    outline: none;
    color: #fff;
    background: #2b2b2b;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 800;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #2b2b2b;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

#modal-win{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: gold;
  color: black;
  border-radius: 10px;
  padding: 30px 50px;
}

#modal-win div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

#modal-win h1 {
  margin: 0;
}

#modal-win a {
  text-decoration: none;
  color: black;
  background-color: #2b2b2b;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: 600;
  color: white;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.container-grid{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-carta {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;  
}

.video{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.title-game{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  height: 100%;
  color: black;
  gap: 20px;
}

.title {
  background-color: #2b2b2b;
  box-shadow: rgba(0, 0, 0, 0.176) 0px 16px 48px 0px;

  color: white;
  padding: 0 20px;
  border-radius: 20px;
}