@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background: wheat;
  color: #fff;
}

